<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <form action="/process_student" method="post">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name" placeholder="Name bol chal" required></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="email" placeholder="Email nakh chal" required></td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td><input type="text" name="contact" placeholder="Can i have ur number 👉👈" required></td>
                </tr>
                <tr>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>