<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/calcmarksheet" method="post">
        <input type="text" name="m1" placeholder="Marks 1" id=""><br>
        <input type="text" name="m2" placeholder="Marks 2" id=""><br>
        <input type="submit" name="" id="">
    </form>
</body>
</html>