<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Marks 1 : <%= m1 %><br>
    Marks 2 : <%= m2 %><br>
    Sum : <%= sum %>
</body>
</html>